body{
    margin: 0;
}

.space-hero{ margin:75px 30px 0px 30px;}
.space-hero-img{position: relative;}

.hero_img{
    width:100%;
    border-radius: 20px;
}
.title_img{
    position: absolute;
    height:132px;
    left: 30px;
    bottom:-30px;
    border-radius: 17px;
}
.space-hero-heading{
    display: grid;
    grid-template-columns: 1fr 400px;
    margin: 50px 0px 50px 10px;
    font-size: 45px;
    font-weight: 600;
    font-family:Papyrus,'Quicksand',sans-serif;
}

.sortFunction select{
    height: 30px;
    border-radius: 2px;
    padding: 0px 5px;
    cursor: pointer;
    background-color: white;
}
.sortFunction #order{width: 110px;}
.sortFunction #sortBy{width: 150px;}

.buttonSort{
    padding: 10px 15px;
    border-radius: 17px;
    border:none;
    background-color: rgb(24, 5, 196);
    color:white;
    font-weight: bold;
    font-size: 14px;
}